<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="usa-form" [formGroup]="myForm">
    <fieldset class="usa-fieldset">
      <legend class="usa-legend">Enter Name</legend>
      <app-contextual-alert
        [parentWidget]="parentElementValue"
        [contextMsgModal]="contextualAlertModel">
      </app-contextual-alert>
      <p>Hello, {{name}}!</p>
      <label for="name" class="usa-label">Enter name</label>
      <input id="name" class="usa-input" name="name" type="text" required aria-required="true" formControlName="name">
    </fieldset>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="btn btn-info" (click)="onSubmit()">Save</button>
</div>
